/* BOOTSTRAP OVERRIDE */

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-right: 10px; padding-left: 10px; }
.container-fluid, .container { padding-left: 10px; padding-right: 10px;}
.row { margin-right: -10px; margin-left: -10px; }
/* RULLER TWEAK */

#nav .compass .ruler {
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED*/
    image-rendering: -moz-crisp-edges; /* Firefox*/
    image-rendering: -o-crisp-edges; /* Opera*/
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed*/
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}
.help-links {margin: 35px 0;line-height: 25px;}
.help-links p { color: #666}
.help-links a {margin: 0 15px; display: inline-block;text-decoration: underline;color: #684011;}
/*
MAIN MENU, LOGIN
*/
#edass em::after,
#edass h4::after { content: ""; clear: both; display: table; }
#app {z-index: 3000;position: relative;line-height: 24px;text-align: center;}
#app > span { padding: 0 5px; line-height: inherit; float: right; background: #444444; font-weight: 200; font-size: 9px; }
#app > button { line-height: inherit; }
/* forms */
#app .form {}
#app .form {width: 300px;margin: 0 auto;background: #141414;padding: 0 16px;clear: both;text-align: center;}
#app h1 {text-transform: uppercase;letter-spacing: 1px;font-size: 40px;margin: 33px 0px 5px 0px;display: inline-block;position: relative;color: #ffffff;}
#app h1 small {font-size: 10px;display: block;position: absolute;top: 0;left: 100%;color: #bdbdbd;border: 1px solid #bdbdbd;padding: 0px 2px;opacity: 0.7;font-family: monospace;letter-spacing: 0;}
#app .form p {color: #ebcd2f;font-size: 18px;margin-bottom: 20px;}
#app .form input {width: 100%;margin-bottom: 15px;}
#app .form button {width: 100%;margin-top: 15px;}
/*

TABS

*/
#app .tabs {padding-top: 5px;padding-bottom: 5px;}
#app .tabs button { margin: 0 10px 0 0;}
/*
GLOBAL MESSAGE
*/
#msg {position: absolute;left: 0;top: 1vh;font-size: 20px;text-align: center;right: 0;opacity: 0;visibility: hidden;transition: all linear 400ms;width: 50%;margin: 0 auto;z-index: 3000;min-width: 300px;border: 2px solid;padding: 15px 10px;background: #141414e3;}
#msg.show {transform: translateY(20px);visibility: visible;opacity: 1;}
#msg.warn {color: #db5555;text-transform: uppercase;}
/*
ED-ASS UI/STYLE
*/
#edass h4 {text-transform: uppercase;font-size: 18px;margin: 10px 0 5px 0;padding: 0;text-align: left;}
#edass h4 b { }
#edass h4 span { }
#edass h4 span.arrival {color: #d1d2a3;text-align: right;}
#edass h4 span.star {color: #6a2feb;}
#edass h4 span.planet {color: #438e70;}
#edass h4 span.landable {color: #2f77eb;}
#edass h4 span.value {color: #ff8800;}
#edass .scan:last-child { display: none; }
#edass .scan:first-child { display: block !important; }
#edass .scan.empty { text-align: center; color: #ff8800; padding: 100px 0; }
#edass section {color: #ff8800;line-height: 18px;}
#edass section div { /* font-size: 13px; */padding-bottom: 15px; /* line-height: 16px; */}
#edass section .sub {font-size: 11px;line-height: 12px; /* opacity: 0.5; */}
#edass section .sub > b {font-size: 12px;color: #5d5d5d;font-weight: normal;text-transform: uppercase; }
#edass section .sub em b {color: #693a10;}
#edass section .sub em span { color: #98570d; text-transform: capitalize; }
/*
ED-ASS LAYOUT
*/
#edass {padding: 0 15px;}
#edass .scan {}
#edass .scan h4 {margin: 5px -15px;padding: 5px 15px;background: #100f0f;}
#edass .scan h4 b {float: left;width: 60%;font-size: 15px;}
#edass .scan h4 div {float: left;width: 40%;text-align: right;font-size: 12px;}
#edass .scan h4 div span { display: block;}
#edass section { line-height: 15px; }
/*
    USER
*/
#user { }
#user h5 {margin-top: 36px;font-size: 20px;color: #fff;}
#user button { /* margin-top: 50px */}
#user em {}
#user em b {}
#user em span { width: 100%; margin-bottom: 10px}
#user .help {font-size: 13px;color: #b5b5b5;}
#user .help b {color: #deacac;}
#user .help i {color: #6e8b96;font-style: normal;padding-left: 9px;display: block;}
#user pre {color: #777;font-size: 14px;}
/*
    NAV
*/
#nav {}
#nav .compass {overflow: hidden;width: 100%;padding: 10px 0 0 0;background: #111;height: 155px;margin-bottom: 10px;}
#nav .compass .ruler {width: 100%;background-image: url("../img/nav-ruler.gif");background-color: transparent;background-position: 0;height: 30px;margin: 40px 0 33px 0;position: relative;transition: all linear 1000ms;}
#nav .compass .ruler .head {width: 50px;font-size: 14px;display: block;text-align: center;border: 1px solid #ff8800;color: #ff8800;position: absolute;left: 50%;margin: -30px 0 0 -25px;}
#nav .compass .ruler .head:after { content: "";width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #ff8800;display: block;position: absolute;left: 50%;margin: 5px 0 0 -5px;}
#nav .compass .dest {width: 100%;background-image: url("../img/nav-ruler-dest.gif");background-color: transparent;background-position: 0 0;height: 7px;position: relative;transition: all linear 1000ms;}
#nav .compass .dest .head {width: 60px;font-size: 15px;display: block;text-align: center;border: 1px solid #555;color: #555;position: absolute;left: 50%;margin: 10px 0 0 -30px;}
#nav .compass .dest .head:after {content: "";width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #555;display: block;position: absolute;left: 50%;margin: 5px 0 0 -5px;top: -14px;}
#nav .compass .dest .head:before {content: "vector";color: #676767;display: block;position: absolute;left: 50%;margin: 5px 0 0 -100px;top: -42px;width: 200px;text-align: center;text-transform: uppercase;font-size: 13px;}
#nav .compass .dest .head.alg0 {border-color: #0098f9;color: #0098f9;}
#nav .compass .dest .head.alg0:after {border-bottom-color: #0098f9;top: -14px;}
#nav .compass .dest .head.alg0:before {content: '[ ok ]'; color: #0098f9; }
#nav .compass .dest .head.alg1 {border-color: #FF8800;color: #FF8800;}
#nav .compass .dest .head.alg1:after {border-bottom-color: #FF8800;top: -14px;}
#nav .compass .dest .head.alg1:before {content: 'missaligment'; color: #FF8800; }
#nav .compass .dest .head.alg2 {border-color: red;color: red;}
#nav .compass .dest .head.alg2:after {border-bottom-color: red;top: -14px;}
#nav .compass .dest .head.alg2:before {content: 'wrong course vector!'; color: red; }
#nav em {}
#nav em span i { }
#nav h5 {font-size: 14px;color: #5d5d5d;margin-top: 5px;}
#nav .cords em {line-height: 20px;font-size: 14px;}
#nav .cords em b {width: 30%;}
#nav .cords em span {width: 70%;text-align: right;white-space: nowrap; }
#nav .cords button {margin-top: 10px;}
#nav .cords input[type=number] {border: 0 none;width: calc(100% - 20px);text-align: right;line-height: inherit;height: auto;padding: 0;}
/*
    RAW
*/
#raw {}
#raw .raw { padding: 15px; border-top: 1px solid #98570d }
#raw .raw b { font-size: 16px; }
#raw .raw span { font-size: 16px; color: #777}
#raw .raw pre { font-family: "Lucida Console", Monaco, monospace; color: #e2841c; letter-spacing: 0.2px }
.notification {text-transform: uppercase;font-weight: normal;color: #c3c3c3;display: block; padding: 15px 0;text-align: center;font-size: 14px;}
.notification.huge {padding: 50px 0;}
.notification.warn { color: #f20}
