@import url('//fonts.googleapis.com/css?family=Sintony');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
html, body {
    height: 100%;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #533512;
    -webkit-text-fill-color: #ffb600;
    -webkit-box-shadow: 0 0 0px 1000px #141414 inset;
    transition: background-color 5000s ease-in-out 0s;
}
* { box-sizing: border-box; font-family: 'Sintony', sans-serif; }
*::placeholder { color: #444; }
*:focus, *:active { outline: none; }
body {margin: 0;padding: 0;font-size: 12px;background: #141414;color: #fff;}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus { border-color: #ffb600}
input[type=text],
input[type=number],
input[type=password] {font-size: 14px;line-height: 42px;height: auto;border: 1px solid #533512;color: #fff;background: transparent;padding: 0px 7px;max-width: 100%;width: 200px;background: #141414;}
button {transition: all linear 100ms;background: #221b13;font-size: 14px;line-height: 42px;display: inline-block;padding: 0 10px;border-radius: 0;border: 1px solid #684011;text-transform: uppercase;color: #ff8800; /* height: 42px; */}
button:hover, button:focus {background: #362410;color: #ffb600;border-color: #ff8800;outline: 0 none;}
button:active, button.active { background: #ff8800;color: #000;border-color: #ff8800; }
button[sm] {line-height: 32px;}
em {font-style: normal;display: block; /* line-height: 15px; */}
em b {font-weight: normal;text-transform: uppercase;color: #c56209; display: block;width: 50%;float: left;}
em span {font-style: normal;color: #ff8800;display: block;width: 50%;float: left;}
em span i {font-style: normal;color: #715029;}
em span.false {color: #5d5d5d;}
em[justify] b { text-align: right; padding-right: 5px; }
em[justify] span { text-align: left; padding-right: 5px;}
label {display: block;font-size: 12px;color: #af640f;text-transform: uppercase;text-align: left;margin: 0;padding: 0;}
label b {display: block;color: #a55c08;font-weight: 400;font-size: 14px;}
em::after,
.cls::after { content: ""; clear: both; display: table; }
