@import url('//fonts.googleapis.com/css?family=Sintony');

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #533512;
    -webkit-text-fill-color: #ffb600;
    -webkit-box-shadow: 0 0 0px 1000px #141414 inset;
    transition: background-color 5000s ease-in-out 0s;
}
#nav .compass .ruler {
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED*/
    image-rendering: -moz-crisp-edges; /* Firefox*/
    image-rendering: -o-crisp-edges; /* Opera*/
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed*/
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}
* { box-sizing: border-box; font-family: 'Sintony', sans-serif; }
*::placeholder { color: #444; }
*:focus, *:active { outline: none; }
body {margin: 0;padding: 0;font-size: 12px;background: #141414;color: #fff;}
input[type=text]:focus,
input[type=password]:focus { border-color: #ffb600}
input[type=text],
input[type=password] {font-size: 14px;line-height: 42px;height: auto;border: 1px solid #533512;color: #fff;background: transparent;padding: 0px 7px;max-width: 100%;width: 200px;background: #141414;}
button {transition: all linear 100ms;background: #221b13;font-size: 14px;line-height: 42px;display: inline-block;padding: 0 10px;border-radius: 0;border: 1px solid #684011;text-transform: uppercase;color: #ff8800;/* height: 42px; */}
button:hover, button:focus {background: #362410;color: #ffb600;border-color: #ff8800;outline: 0 none;}
button:active, button.active { background: #ff8800;color: #000;border-color: #ff8800; }
button[sm] {line-height: 32px;}
section,
#edass em::after,
#edass h4::after,
em::after,
.cls::after { content: ""; clear: both; display: table; }
em {font-style: normal;display: block;}
em b {font-weight: normal;text-transform: uppercase;color: #c56209; display: block;width: 50%;float: left;}
em span {font-style: normal;color: #ff8800;display: block;width: 50%;float: left;}
em span i {font-style: normal;color: #715029;}
em[justify] b { text-align: right; padding-right: 5px; }
em[justify] span { text-align: left; padding-right: 5px;}
label {display: block;font-size: 12px;color: #452d12;text-transform: uppercase;}
label b {display: block;color: #944f00;}
/*
MAIN MENU, LOGIN
*/
#app { z-index: 3000;position: relative;line-height: 24px;}
#app .form {width: 300px;margin: 64px auto 0px auto;background: #141414;padding: 16px;clear: both;text-align: center;position: relative;top: 50px;border: 1px solid #6c4211;}
#app .form input { width: 100%; margin-bottom: 15px; }
#app .form button {width: 100%;margin-bottom: 15px;}
#app > span { padding: 0 5px; line-height: inherit; float: right; background: #444444; font-weight: 200; font-size: 9px; }
#app > button { line-height: inherit; }
/*

TABS

*/
#app .tabs {padding-top: 5px;padding-bottom: 5px;}
#app .tabs button { margin: 0 10px 0 0;}
/*
GLOBAL MESSAGE
*/
#msg {position: absolute;left: 0;top: 20px;font-size: 20px;text-align: center;right: 0;opacity: 0;visibility: hidden;transition: all linear 400ms;}
#msg.show { transform: translateY(20px); visibility: visible; opacity: 1; }
#msg.warn {color: #db5555;text-transform: uppercase;}
/*
ED-ASS UI/STYLE
*/
#edass h4 {text-transform: uppercase;font-size: 18px;margin: 10px 0 5px 0;padding: 0;text-align: left;}
#edass h4 b { }
#edass h4 span { }
#edass h4 span.arrival {color: #d1d2a3;text-align: right;}
#edass h4 span.star {color: #6a2feb;}
#edass h4 span.planet {color: #438e70;}
#edass h4 span.landable {color: #2f77eb;}
#edass .scan:last-child { display: none; }
#edass .scan:first-child { display: block !important; }
#edass .scan.empty { text-align: center; color: #ff8800; padding: 100px 0; }
#edass section {color: #ff8800;line-height: 18px;}
#edass section div {font-size: 14px;padding-bottom: 15px;line-height: 19px;}
#edass section em span {}
#edass section em span.false {color: #5d5d5d;}
#edass section .sub {font-size: 11px;line-height: 13px; /* opacity: 0.5; */}
#edass section .sub > b {font-size: 12px;color: #5d5d5d;font-weight: normal;text-transform: uppercase; }
#edass section .sub em b {color: #693a10;}
#edass section .sub em span { color: #98570d; text-transform: capitalize; }
/*
ED-ASS LAYOUT
*/
#edass {padding: 0 15px;}
#edass .scan {}
#edass .scan h4 {margin: 5px -15px;padding: 5px 15px;background: #100f0f;}
#edass .scan h4 b {float: left;width: 60%;font-size: 15px;}
#edass .scan h4 div {float: left;width: 40%;text-align: right;font-size: 12px;}
#edass .scan h4 div span { display: block;}
#edass section { line-height: 15px; }
/*
    CMDR
*/
#cmdr { }
/*
    NAV
*/
#nav {}
#nav .compass {overflow: hidden;width: 100%;margin: 15px 0;padding: 15px 0;background: #111;height: 171px;}
#nav .compass .ruler {width: 100%;background-image: url("../img/nav-ruler.gif");background-color: transparent;background-position: 0;height: 30px;margin: 40px 0 33px 0;position: relative;transition: all ease-in-out 1000ms;}
#nav .compass .ruler .head {width: 50px;font-size: 14px;display: block;text-align: center;border: 1px solid #ff8800;color: #ff8800;position: absolute;left: 50%;margin: -30px 0 0 -25px;}
#nav .compass .ruler .head:after { content: "";width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #ff8800;display: block;position: absolute;left: 50%;margin: 5px 0 0 -5px;}
#nav .compass .dest {width: 100%;background-image: url("../img/nav-ruler-dest.gif");background-color: transparent;background-position: 0 0;height: 7px;position: relative;transition: all ease-in-out 1000ms;}
#nav .compass .dest .head {width: 60px;font-size: 15px;display: block;text-align: center;border: 1px solid #555;color: #555;position: absolute;left: 50%;margin: 10px 0 0 -30px;}
#nav .compass .dest .head:after {content: "";width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #555;display: block;position: absolute;left: 50%;margin: 5px 0 0 -5px;top: -14px;}
#nav .compass .dest .head:before {content: "vector";color: #676767;display: block;position: absolute;left: 50%;margin: 5px 0 0 -100px;top: -42px;width: 200px;text-align: center;text-transform: uppercase;font-size: 13px;}
#nav .compass .dest .head.alg0 {border-color: #0098f9;color: #0098f9;}
#nav .compass .dest .head.alg0:after {border-bottom-color: #0098f9;top: -14px;}
#nav .compass .dest .head.alg0:before {content: '[ ok ]'; color: #0098f9; }
#nav .compass .dest .head.alg1 {border-color: #FF8800;color: #FF8800;}
#nav .compass .dest .head.alg1:after {border-bottom-color: #FF8800;top: -14px;}
#nav .compass .dest .head.alg1:before {content: 'missaligment'; color: #FF8800; }
#nav .compass .dest .head.alg2 {border-color: red;color: red;}
#nav .compass .dest .head.alg2:after {border-bottom-color: red;top: -14px;}
#nav .compass .dest .head.alg2:before {content: 'wrong course vector!'; color: red; }
#nav em {font-size: 15px;line-height: 18px;}
#nav em span i { }
#nav h5 {font-size: 16px;color: #5d5d5d;}
#nav .dest em b { }
#nav .dest em span { }
#nav .pos em b { }
#nav .pos em span { }
#nav .dest-form { margin-top: 15px; }
#nav .dest-form label input {line-height: 32px;}
/*
    RAW
*/
#raw {}
#raw .raw { padding: 15px; border-top: 1px solid #98570d }
#raw .raw b { font-size: 16px; }
#raw .raw span { font-size: 16px; color: #777}
#raw .raw pre { font-family: "Lucida Console", Monaco, monospace; color: #e2841c; letter-spacing: 0.2px }