@import 'vars';
/*
  BOOTSTRAP OVERRIDE
*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto,
.container-fluid { padding: 0 5px; }
.container-fluid .container-fluid { padding: 0; }
.row { margin: 0 -5px}
/*
  AUTOFILL STYLES IN CHROME
*/
input, textarea, select {

  &:-webkit-autofill {
    border: 1px solid darken($ui-fg, 25%);
    -webkit-text-fill-color: darken($ui-act-fg, 25%);
    -webkit-box-shadow: 0 0 0px 1000px $ui-bg inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
* { box-sizing: border-box; }
*::placeholder { color: #444; }
*:focus, *:active { outline: none !important; }
pre { margin: 0; padding: 0; overflow: visible; line-height: 100%; font-size: 0.7rem}
html, body { height: 100%; background: $dark-deep; color: $ui-text; font-size: 16px; line-height: 100%; }
//
h1 { @include hcaps(); font-size: 1.4rem}
h2 { @include hcaps(); font-size: 1.3rem}
h3 { @include hcaps(); font-size: 1.2rem}
h4 { @include hcaps(); font-size: 1.1rem; margin: 0.6rem 0 0 0; padding: 0; }
h5 { @include hcaps(); font-size: 1rem; margin: 0.6rem 0 0 0; padding: 0; }
//
u { text-decoration: none;}
//
#{$all-inputs} {
  @include hcaps();
  @include ui-basic();
  @include ui-input();
}
textarea {
  @include ui-basic();
  @include ui-input();
  max-width: 100%; resize: vertical; max-height: 50vh; line-height: 100%; min-height: 8rem; padding-top: 0.7rem;padding-bottom: 0.7rem;
}
select { -webkit-appearance: none; }
@keyframes glitched_text {
  0% { text-shadow: none; }
  20% { text-shadow: none; }
  21% { text-shadow: -1px -4px 0 rgba(0, 255, 240, .35), 1px 4px 0 rgba(255, 0, 230, .35); }
  25% { text-shadow: -1px -4px 0 rgba(0, 255, 240, .35), 1px 4px 0 rgba(255, 0, 230, .35); }
  26% { text-shadow: none; }
  48% { text-shadow: none; }
  50% { text-shadow: -1px -4px 0 rgba(0, 255, 240, .35), 1px 4px 0 rgba(255, 0, 230, .35); }
  67% { text-shadow: none; }
  79% { text-shadow: none; }
  80% { text-shadow: -2px -5px 0 rgba(0, 255, 240, .35), 2px 5px 0 rgba(255, 0, 230, .35);}
  89% { text-shadow: -2px -5px 0 rgba(0, 255, 240, .35), 2px 5px 0 rgba(255, 0, 230, .35); }
  95% { text-shadow: none; }
  100% { text-shadow: none; }
}
input, textarea {caret-color: $orange; }
button {
  @include hcaps();
  @include ui-basic();
  border: 1px solid $ui-fg;
  transition: all ease-out 50ms;
  &:active {
    border: 1px solid $ui-act-fg;
    text-shadow: -2px -4px 0 rgba(0, 255, 240, .35), 2px 4px 0 rgba(255, 0, 230, .35);
    box-shadow: -2px -4px 0 0 rgba(0, 255, 240, .35), 2px 4px 0 0 rgba(255, 0, 230, .35);
  }
  &.active {
    color: $ui-act-fg;
    border-color: $ui-act-fg;
    text-shadow: -2px -4px 0 rgba(0, 255, 240, .15), 2px 4px 0 rgba(255, 0, 230, .15);
    box-shadow: -2px -4px 0 0 rgba(0, 255, 240, .15), 2px 4px 0 0 rgba(255, 0, 230, .15);
  }
  &.semi-active {
    color: darken($ui-act-fg, 15%);
    border-color: darken($ui-act-fg, 15%);
  }
}
//
i { vertical-align: middle; display: inline-block; }
.wide { width: 100%; display: block; }
//
//
// BASE DATA LISTS
//
em {font-style: normal;display: block; font-size: 0.9rem; color: $ui-text; }
em > b {font-weight: normal;text-transform: uppercase; display: block;width: 50%;float: left; padding-right: 5px;}
em > span {font-style: normal; display: block;width: 50%;float: left; padding-left: 5px}
em > span u {font-style: normal; }
em > span.false { }
em > span > small { display: block; }
em::after, .cls::after { content: ""; clear: both; display: table; }
.centered {
  h4, h5 { text-align: center; }
  em > b { text-align: right; }
  em > span { text-align: left; }
}
.justified {
  em > b { text-align: left; }
  em > span { text-align: right; }
}
.sub {
  em { font-size: 0.8rem; }
  em > b { }
  em > span { text-transform: capitalize; }
}
.listed {
  em { margin-bottom: 0.8rem }
  em > b { text-transform: uppercase; font-size: 0.8rem; width: 100%; padding: 0;}
  em > span { font-size: 1.0rem; color: lighten($ui-fg, 20%); width: 100%; padding: 0;}
  em > span > small { color: darken($ui-fg, 20%) }
}
//
//
// MESSAGE BOXES
//
.alert {
  color: $ui-text; text-align: center; margin: 1rem; font-size: 1rem; line-height: 100%;
  & > i { font-size: 2em; display: block; margin-bottom: 1em; }
  & > div { @include hcaps(); font-size: 1em; text-transform: uppercase; }
  & > small { font-size: 0.8em; text-transform: lowercase; }
  &.info { color: $info;
    & > small { color: darken($info, 10%) }
  }
  &.warn { color: $orange;
    & > small {color: darken($orange, 10%)}
  }
  &.error { color: $red;
    & > small {color: darken($red, 10%)}
  }
  &.modal {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
    margin: 0; padding: 20vh 0;
    font-size: 1.5rem;
  }
  &.progress { animation: glitched_text 2s infinite;}
  .ui { margin-top: 2rem;
    button { width: 15rem; line-height: 3rem; height: 3rem; font-size: 1.2rem}
  }
}
header { margin: -2.8rem 2rem 5px 7rem;
  padding: 5px 5px 0 10px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: lighten($ui-text, 15%);
  button { margin-right: 5px; }
  letter-spacing: -0.02rem;
}
.ui { padding-bottom: 0.5rem; position: relative;
  button { margin-right: 5px; }
}