<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>ED-VOID APP</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/eurocaps.css" rel="stylesheet" type="text/css">
    <link href="css/root.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body>
<div id="app">
    <h1 class="caps" v-if="!logged">ED-VOID
        <small>beta</small>
    </h1>

    <div class="form" v-if="!logged && auth._sign === 'in'">
        <p caps>fly safe cmdr</p>
        <label><b caps>Cmdr Email</b> <input v-model="auth.email" type="text"> </label>
        <label><b caps>Password</b> <input v-model="auth.pass" type="password" placeholder="* Password"></label>
        <button v-on:click="_signin()" type="button">LOGIN</button>
        <button type="button" v-on:click="auth._sign = 'up'">Register Pilot</button>
    </div>

    <div class="form" v-if="!logged && auth._sign === 'up'">
        <p caps>New pilot registration</p>
        <label><b caps>Cmdr Email</b>
            <input v-model="auth.email" type="text" autocomplete="nope"></label>
        <label><b caps>Password</b>
            <input v-model="auth.pass" type="password" autocomplete="nope"></label>
        <label><b caps>Confirm password</b>
            <input v-model="auth.pass_c" type="password" autocomplete="nope"></label>
        <button v-on:click="_signup()" type="button">REGISTER</button>
        <div v-bind:class="['msg']" v-if="auth._message">{{auth._message}}</div>
        <button type="button" v-on:click="auth._sign = 'in'">Cancel</button>
    </div>

    <div v-if="!logged">
        <div class="help-links">
            <p>Need help with ED-VOID?</p>
            <a href="/">Home Page</a>
            <a href="https://discord.gg/s7qchpj" target="_blank">Discord Server</a>
        </div>
    </div>

    <div v-if="logged" class="container-fluid tabs text-left">
        <button sm v-on:click="_tab(i)"
                v-for="(i, k) in tabs"
                v-bind:class="i === tab ? 'active' : ''">
            {{i}}
        </button>
    </div>
</div>
<div id="msg" v-bind:class="[cdw > 0 ? 'show':'' , type]">
    {{text}}
</div>
<div id="user" v-if="app.logged && app.tab==='user'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h5>CMDR INFO</h5>
                <em><b>CMDR</b><span>{{cmdr.name}}</span></em>
                <em><b>SYSTEM</b><span>{{cmdr.system}}</span></em>
                <em><b>LOC</b><span>{{cmdr.body ? cmdr.body.name || 'Deep Space' : 'Deep Space' }}</span></em>
            </div>
            <div class="col-sm">
                <h5>ACCOUNT INFO</h5>
                <em><b>EMAIL</b><span>{{user.email}}</span></em>
                <em><b>API_KEY</b><span>{{user.api_key}}</span></em>
                <button v-on:click="_logout()" sm v-if="app.logged && app.online">logout</button>
            </div>
        </div>


        <h5>ED-VOID CLIENT INSTALLATION</h5>
        <div class="row">
            <div class="col-sm-6">
                <p class="help">
                    - Download Client <a href="./download/ed-void.zip">ed-void.zip [ 8.2 Mb ]</a> on your PC.<br>
                    - Unzip it anywhere you want (it's not require installation).<br>
                    &nbsp;&nbsp;<i>None: If you are not using any other tools that reading your journals (like EDD or
                    MarketConnector) - you can drop files directly into your journals folder and keep "journal_path =
                    ./" (it means current directory).</i><br>
                    - Open <b>ed-void.cfg</b> in any editor (notepad is fine)<br>
                    - Your config file should looks like this:<br>
                </p>
                <pre>
    journal_path = ./
    service = http://ed-void.com/
    api_key = {{user.api_key}}
    </pre>

                <p class="help">
                    Where:<br>
                    <b>journal_path</b> - path to your journal.<br>
                    <i>Example - C:\Users\[USERNAME]\Saved Games\Frontier Developments\Elite Dangerous</i><br>
                    <b>api_key</b> - your api-key.<br>
                </p>

                <p class="help">If you need help - visit our <a href="https://discord.gg/s7qchpj" target="_blank">Discord
                    Server</a></p>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

<div id="raw" v-if="app.logged && app.tab==='raw'">
    <div class="raw" v-for="(rec, key) in raw">
        <b>{{rec.event}}</b>
        <span>{{rec.timestamp}}</span>
        <pre>{{rec}}</pre>
    </div>
</div>

<div id="nav" v-if="app.logged && app.tab==='nav'">
    <div class="notification hude" v-if="!cmdr.body.name">
        <div>Approach to scanned landable body</br>to activate nav system</div>
    </div>

    <div class="nav-surf" v-if="cmdr.body.name">
        <div class="compass">
            <div class="ruler" ref="ruler" v-bind:style="style_ruler">
                <b class="head">{{pos.head}}</b>
            </div>
            <div class="dest" ref="dest" v-bind:style="style_dest" v-if="dest.enabled">
                <b class="head" v-bind:class="dest.align">{{dest.head}}</b>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 cords">
                    <h5>CURR. POSITION</h5>
                    <em><b>LAT</b><span>{{pos.lat | nn(4,4)}} <i>°</i></span></em>
                    <em><b>LON</b><span>{{pos.lon | nn(4,4)}} <i>°</i></span></em>
                    <em><b>ALT</b><span>{{pos.alt / 1000}} <i>KM</i></span></em>
                </div>
                <div class="col-6 cords">
                    <h5>DESTINATION</h5>

                    <div v-if="dest.enabled">
                        <em><b>HEAD</b><span>{{dest.head | nn(0,0,'err')}} <i>°</i></span></em>
                        <em><b>DIST</b><span>{{dest.dist / 1000 | nn(3,3,'err')}} <i>KM</i></span></em>
                        <em class="editable">
                            <b>LAT</b>
                            <span><input type="number" @focus="$event.target.select()" @change="_update_dest()"
                                         v-model="dest.lat"><i>°</i></span>
                        </em>
                        <em class="editable">
                            <b>LON</b>
                            <span><input type="number" @focus="$event.target.select()" @change="_update_dest()"
                                         v-model="dest.lon"><i>°</i></span>
                        </em>

                    </div>

                    <button sm v-bind:class="dest.enabled?'active':''"
                            v-on:click="dest.enabled=!dest.enabled; _update_dest()">
                        {{ !dest.enabled ? 'SET COURSE' : 'DISMISS' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" v-if="cmdr.body.name">
        <h5>CURRENT LOCATION</h5>
        <div class="notification warning" v-if="!cmdr.body.scanned">
            <div>Scan body to identify radius and gravity correctly</div>
        </div>
        <em><b>SYS</b><span>{{cmdr.system}}</span></em>
        <em><b>BODY</b><span v-bind:class="cmdr.body.name?'':'false'">{{cmdr.body.name || 'FALSE'}}</span></em>
        <em>
            <b>RADIUS</b>
            <span v-bind:class="cmdr.body.name?'':'false'">{{cmdr.body.radius / 1000 | nn(3,3)}} <i>KM</i></span>
        </em>
        <em>
            <b>GRAVITY</b>
            <span v-bind:class="cmdr.body.name?'':'false'">{{cmdr.body.gravity / 9.80665 | nn(4)}} <i>G</i></span>
        </em>
    </div>
</div>

<div id="edass" v-if="app.logged && app.tab==='edass'">
    <div class="scan" v-for="s in scans" v-if="s.ScanType === 'Detailed'">
        <h4>
            <b>{{s.BodyName}}</b>
            <div>
                <span class="arrival">ARR: {{s.DistanceFromArrivalLS | nn(0)}} ls</span>
                <span class="star" v-show="s.StarType">[ STAR ]</span>
                <span class="planet" v-show="s.PlanetClass && !s.Landable">[ BODY ]</span>
                <span class="landable" v-show="s.PlanetClass && s.Landable">[ BODY / LANDABLE ]</span>
                <span class="value" v-if="s.EstimatedValue">Value: {{s.EstimatedValue | nn(0)}} Cr</span>
            </div>
        </h4>
        <div calss="container-fluid">

            <section v-show="s.StarType" class="row">
                <div class="col-sm">
                    <div class="main">
                        <em><b>Class</b><span>{{s.StarType}}</span></em>
                        <em><b>Luminosity</b><span>{{s.Luminosity}}</span></em>
                        <em><b>Solar Masses</b><span>{{s.StellarMass | nn(4)}}</span></em>
                        <em><b>Solar Radius</b><span>{{s.Radius / 696000000 | nn(4)}}</span></em>
                        <em><b>Age</b><span>{{s.Age_MY | nn(4)}} <i>MILLION YEARS</i></span></em>
                        <em><b>Temperature</b><span>{{s.SurfaceTemperature | nn(1) }} <i>K</i></span></em>
                        <em><b>Rot. Period</b><span>{{s.RotationPeriod / 60 / 60 / 24 | nn(2)}} <i>DAYS</i></span></em>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="sub ring" v-if="s.Rings" v-for="ring in s.Rings">
                        <b>{{ring.Name}}</b>
                        <em><b>Class</b><span>{{ring.RingClass}}</span></em>
                        <em><b>Mass</b><span>{{ring.MassMT | nn(0)}} <i>MT</i></span></em>
                        <em><b>Inner Radius</b><span>{{ring.InnerRad / 1000 | nn(0)}} <i>KM</i></span></em>
                        <em><b>Outer Radius</b><span>{{ring.OuterRad / 1000 | nn(0)}} <i>KM</i></span></em>
                    </div>
                </div>
            </section>
            <section v-if="s.PlanetClass" class="row">
                <div class="col-sm">
                    <div class="main">
                        <em><b>Planet Class</b><span>{{s.PlanetClass}}</span></em>
                        <em><b>Terraform State</b><span v-bind:class="s.TerraformState?'':'false'">{{s.TerraformState | isval}}</span></em>
                        <em><b>Tidal Lock</b><span
                                v-bind:class="s.TidalLock?'':'false'">{{s.TidalLock | yn}}</span></em>
                        <em><b>Volcanism</b><span
                                v-bind:class="s.Volcanism?'':'false'">{{s.Volcanism | isval}}</span></em>
                        <em><b>Earth Masses</b><span>{{s.MassEM | nn(4)}}</span></em>
                        <em><b>Radius</b><span>{{s.Radius / 1000 | nn(0)}} <i>KM</i></span></em>
                        <em><b>Gravity</b><span>{{s.SurfaceGravity / 9.80665 | nn(4)}} <i>G</i></span></em>
                        <em><b>Temperature</b><span>{{s.SurfaceTemperature | nn(0)}} <i>K</i></span></em>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="sub composion">
                        <b>Body Composition</b>
                        <em v-for="(com ,val) in s.Composition"><b>{{val}}</b><span>{{com * 100 | nn(2)}} <i>%</i></span></em>
                    </div>

                    <div class="sub atmosphere" v-if="s.Atmosphere">
                        <b>Atmosphere</b>
                        <em><b>Surf. Pressure</b><span>{{s.SurfacePressure / 101325 | nn(3)}} <i>ATM</i></span></em>
                        <em><b>Atmosphere</b><span>{{s.Atmosphere || 'n/a'}}</span></em>
                        <em><b>Type</b><span>{{s.AtmosphereType}}</span></em>
                        <b>Atmosphere Composition</b>
                        <em v-for="acomp in s.AtmosphereComposition"><b>{{acomp.Name}}</b><span>{{acomp.Percent | nn(2,2)}} <i>%</i></span></em>
                    </div>

                    <div class="sub materials" v-if="s.Materials">
                        <b>Materials</b>
                        <em v-for="material in s.Materials">
                            <b>{{material.Name}}</b><span>{{material.Percent | nn(2,2)}} <i>%</i></span>
                        </em>
                    </div>

                    <div class="sub orbit">
                        <b>Orbit</b>
                        <em><b>Semi Major Axis</b><span>{{s.SemiMajorAxis / 149597870700 | nn(4)}} <i>AU</i></span></em>
                        <em><b>Orbital
                            Period</b><span>{{s.OrbitalPeriod / 60 / 60 / 24 | nn(2)}} <i>DAYS</i></span></em>
                        <em><b>Rotation
                            Period</b><span>{{s.RotationPeriod / 60 / 60 / 24 | nn(2)}} <i>DAYS</i></span></em>
                        <em><b>Orbital Eccentricity</b><span>{{s.Eccentricity}}</span></em>
                        <em><b>Orbital Inclination</b><span>{{s.OrbitalInclination | nn(2,2)}} <i>°</i></span></em>
                        <em><b>Arg Of Periapsis</b><span>{{s.Periapsis | nn(2,2)}} <i>°</i></span></em>
                        <em><b>Axial Tilt</b><span>{{s.AxialTilt  * 180 / Math.PI | nn(2,2)}} <i>°</i></span></em>
                    </div>

                    <div class="sub ring" v-if="s.Rings" v-for="ring in s.Rings">
                        <b>Ring: {{ring.Name}}</b>
                        <em><b>Class</b><span>{{ring.RingClass}}</span></em>
                        <em><b>Mass</b><span>{{ring.MassMT | nn(0)}} <i>MT</i></span></em>
                        <em><b>Inner Radius</b><span>{{ring.InnerRad / 1000 | nn(0)}} <i>KM</i></span></em>
                        <em><b>Outer Radius</b><span>{{ring.OuterRad / 1000 | nn(0)}} <i>KM</i></span></em>
                    </div>
                </div>
            </section>
        </div>
        <div class="scan empty">No scans yet.</div>
    </div>
</div>

</body>

<script src="lib/underscore.js"></script>
<script src="lib/ee3.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/vue-resource.js"></script>

<script src="js/network.js"></script>
<script src="js/app.js"></script>
<script src="js/user.js"></script>
<script src="js/edass.js"></script>
<script src="js/nav.js"></script>
<script src="js/raw.js"></script>

</html>