<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>ED-ASS</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="app">

    <button v-on:click="_toggle_config()" class="small-btn config" v-if="online">logout</button>
    <button v-on:click="_logout()" class="small-btn logout" v-if="online">logout</button>

    <div v-if="show_config">
        CMDR: {{cmdr.name}}<br>
        CMDR: {{cmdr.email}}<br>
        API_KEY: {{cmdr.api_key}}<br>
        LOGGED: {{logged}}<br>
        ONLINE: {{logged}}<br>
    </div>

    <form v-on:submit.prevent="_signin" v-if="!logged && auth._sign === 'in'">
        <input v-model="auth.email" type="text" placeholder="Player Email" autocomplete="email">
        <input v-model="auth.pass" type="password" placeholder="Password" autocomplete="current-password">
        <button type="submit">LOGIN</button>
        <a v-on:click="auth._sign = 'up'">Register Pilot</a>
    </form>

    <form v-on:submit.prevent="_signup" v-if="!logged && auth._sign === 'up'">
        <input v-model="auth.email" type="text" placeholder=" * Email" autocomplete="email">
        <input v-model="auth.name" type="text" placeholder="* CMDR NAME" autocomplete="username">
        <input v-model="auth.pass" type="password" placeholder=" * Password" autocomplete="new-password">
        <input v-model="auth.pass_c" type="password" placeholder=" * Confirm password" autocomplete="new-password">
        <button type="submit">REGISTER</button>
        <div v-bind:class="['msg']" v-if="auth._message">{{auth._message}}</div>
        <a v-on:click="auth._sign = 'in'">Cancel</a>
    </form>

</div>

<div id="msg" v-bind:class="[cdw > 0 ? 'show':'' , type]">
    {{text}}
</div>



</body>

<script src="lib/underscore.js"></script>
<script src="lib/ee3.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/vue-resource.js"></script>

<script src="js/network.js"></script>
<script src="js/game.js"></script>

</html>